# tell docker what version of the docker-compose.yml we're using
version: '3.7'

services:
  web:
    image: web.workhub-workbot-slack
    container_name: web.workhub-workbot-slack

    # define the directory where the build should happened,
    # i.e. where the Dockerfile of the service is located
    # all paths are relative to the location of docker-compose.yml
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      APP_ENV: dev

    # mount host code base in the container, so in development mode, all changes are synched instantly,
    # and one do not have to build the image everytime to see changes in the container
    volumes:
      - ./src:/app/src
      - ./README.md:/app/README.md
      - ./nodemon.json:/app/nodemon.json
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./tsconfig.json:/app/tsconfig.json
      - ./.env:/app/.env

    ports:
      - '3000:3000'
    networks:
      - workhub-workbot-slack
  redis:
    image: redis:6.2.7
    container_name: redis.workhub-workbot-slack
    ports:
      - '1282:6379'
    networks:
      - workhub-workbot-slack

# define the network, so that containers that reside on this same network can talk to each other
# via their `container_names`
networks:
  workhub-workbot-slack:
    driver: bridge
